{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
    span{
        color: rgb(230, 171, 45);
        font-size: 20px;
    }
</style>
<h2>Payment Details</h2>
<div class="container-fluid">
<div class="row" style="margin-top: 70px; background-color: #111; height: 350px; border-radius: 20px;">
    <div class="col-lg-6 text-center" style="margin-top: 40px;">
<h3>Payment: <span>{{ payment.payment }}</span> </h3><br>
<h3>Reference: <span>{{ payment.reference }}</span> </h3><br>
<h3>Payment Date: <span>{{ payment.date }}</span> </h3><br>
<h3>Email ID: <span>{{ payment.email }}</span> </h3><br>

    </div>
    <div class="col-lg-6 text-center" style="margin-top: 40px;" >
        <h3>Vendor: <span>{{ payment.vendor.first_name }}</span> </h3><br>
        <h3>Payment Method: <span>{{ payment.cash }}</span> </h3><br>
        <h3>Amount Received: <span>₹{{ payment.amount }}</span> </h3><br>
        <h3>Opening Balance: <span>₹{{ payment.balance }}</span> </h3><br>
        <h3>Current Balance: <span>₹{{ payment.current_balance }}</span> </h3><br>


    </div>
</div>
</div>
<div class="row" style="margin-top: 40px;">
    <div class="col-sm-4">
        <button class="btn btn-success ml-auto" onclick="window.print()"> Print</button>

    </div>
    <div class="col-sm-4">
        <a href="{% url 'payment_edit' payment.pk %}" class="btn btn-success ml-auto">Edit</a>

    </div>
</div>









{% endblock %}
